
.clear {
	clear: both;
}

body {
	background-color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	margin: -20px;
	
	
}


#footer {
	margin: 0 auto;
	padding: 3em 0em 5em 0em;
	background: #333333;
}

#nav {
		height: 80px;
	}
	
	#nav ul {
		text-align: center;
	}
	
	#nav li {
		display: inline-block;
		padding: 0px 20px;
	}
	
	#nav a {
		display: block;
		float: left;
		margin-right: 2px;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 45px;
		font-size: 13pt;
		color: #16576B;
	}
	
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


#header-wrapper
	{
		overflow: hidden;
		background: #2056ac;
	}	

#header {
	/*width: 900px;*/
	background: #2056AC;
	text-align: center;
	height: 200px;
	
}


	
/*********************************************************************************/
/* Menu                                                                        */
/*********************************************************************************/

#menu-wrapper {
		height: 90px;
		
	}
	
	
#menu
	{
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
	padding-top:43px;
	 
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
		float:bottom;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
		transition: all 0.5s ease-in-out 0s;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}
	

/*********************************************************************************/
/* Title                                                                          */
/*********************************************************************************/
	
	#title h1
	{
		display: block;
		margin-top: 1em;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 3.5em;
	}
	
	#title a
	{
		text-decoration: none;
		color: #FFF;
		position: relative;
	}
	
	#title span
	{
		text-transform: uppercase;
		font-size: 2.90em;
		color: rgba(255,255,255,1);
		
	}

	#title span a
	{
		color: rgba(255,255,255,0.8);
	}
	
	#title a:hover 
	{
		color: #FFF;
	}

	#title a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#title a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*********************************************************************************/
/* Sisu konteiner                                                                     */
/*********************************************************************************/
	
#konteinerX {
    width: 1050px;
	height: 1050px;
    margin: 0 auto;
	font-size:16px;
	background-color:#fff;
	padding:0px 40px 40px 40px;
}


/*********************************************************************************/
/* nimekirja konteiner                                                                     */
/*********************************************************************************/
	
#navigation { 
	width: 210px; 
	height: 900px;
	padding: 0em 2em 0 2em; 
	margin-left: 60px;
	margin-right: 60px;
	margin-top: -32px;
	color: #fff; 
	background: #1e1b1a; 
	float: left;
	opacity:0.8;
	position:relative;
	z-index:0;
	
	-webkit-box-shadow: 8px 0px 5px 0px rgba(0,0,0,.3);
	 -moz-box-shadow: 8px 0px 5px 0px rgba(0,0,0,.3);
	        box-shadow: 8px 0px 5px 0px rgba(0,0,0,.3);	

background: rgb(30,27,26);
background: -moz-linear-gradient(left,  rgba(30,27,26,1) 0%, rgba(38,35,33,1) 18%, rgba(30,27,26,1) 77%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,27,26,1)), color-stop(18%,rgba(38,35,33,1)), color-stop(77%,rgba(30,27,26,1)));
background: -webkit-linear-gradient(left,  rgba(30,27,26,1) 0%,rgba(38,35,33,1) 18%,rgba(30,27,26,1) 77%);
background: -o-linear-gradient(left,  rgba(30,27,26,1) 0%,rgba(38,35,33,1) 18%,rgba(30,27,26,1) 77%);
background: -ms-linear-gradient(left,  rgba(30,27,26,1) 0%,rgba(38,35,33,1) 18%,rgba(30,27,26,1) 77%);
background: linear-gradient(to right,  rgba(30,27,26,1) 0%,rgba(38,35,33,1) 18%,rgba(30,27,26,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1b1a', endColorstr='#1e1b1a',GradientType=1 );
			
	}

#navigation .title h2
	{
		font-weight: 200;
		color: #FFF;

	}
	
#osa1
	{
	float: up;
	margin: 1ea 0 0 0;
	height:7ea;
	}
	
#navigation a {
	color: white ;
	font-weight:bold ;
	font-size: 18px;

}	
#navigation a:hover {
	color: white ;
	font-weight:bold ;
	font-size: 19px;
}	



	
	
	
#pais {
	height: 150px;
	/*width: 900px;*/
	background: url(pildid/pais.jpg);
}

#pealkiri {
	font-size: 50px;
	padding: 70px 0 0 0;
	margin-bottom: 0px;
	margin-left: 70px;
	/*color: #FFFFFF;*/
}

#konteiner {
    width: 1050px;
    margin: 0 auto;
	font-size:16px;
	background-color:#FFFFFF;
	padding-bottom: 15px;
}

#lehed li {
	float: left;
	font-size: 18px;
	/*border-top: dashed 1px black;
	border-bottom: dashed 1px black;*/
	list-style-type: none;
}

#lehed {
	background-color: #ACFA58;
	font-family: Arial;
	height: 30px;
    padding: 0;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#lehed a {
	display: block;
	padding: 10px 5px 10px 0px;
	text-decoration: none;
	text-align: center;
	color: #000000;
	width: 200px;
	margin-right: 5px;
	/*background-color:#C0C0C0;
	border: 3px solid #111312;*/
}

#lehed li a:hover {
	/*color: #04B404;*/
	background-color:#4B8A08;
}

#populaarsed {
	float:left;
	width:600px;
	margin-left: 20px;
}

#populaarsed img {
	width: 80px;
	margin-bottom: -45px;
	margin-right: 5px;
}

#populaarsed li {
	padding-bottom: 10px; 
	margin: 15px 0px;
}

#populaarsed a {
	padding:25px 0;
	text-decoration: none;
	color: #000000;
}


#populaarsed a:hover{
	color:#04B404;
}

#graaf {
	float: left;
	width: 400px;
	text-align:center;
}

#graaf img {
	width: 400px;
}

#searchbutton{
	border-style: none; 
	background: url('pildid/search.gif') no-repeat; 
	padding-bottom: 6px;
	margin-left: -32px;
	width: 24px; 
	height: 22px;
}

#searchbox {
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
	padding: 5px 15px 6px 10px;
	margin: 15px;
}

table {
	border-collapse: collapse;
	float:left;
}

table, th, td {
    border: 1px solid black;
}

#soovitajad{
	font-size: 20px;
	width: 250px;
}

#soovitajad td {
	background-color: #ACFA58;
	height: 30px;
}

#soovitajad a{
	text-decoration: none;
	color: #000000;
}

#soovitajad th {
	background-color:#5FB404;
}

#soovitajad td:hover {
	background-color:#4B8A08;
}





#inviteheader {
    margin:0 auto;
    width:459px;
}
#inviteheader label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#inviteheader p1 {
    display:block;
    margin-top:20px;
	margin-bottom:20px;
    letter-spacing:1px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-style: bold;
	font-size: 30px;
}

#invite {
	visibility: hidden;
    margin:0 auto;
    width:459px;
}

#invite label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#invite input, textarea{
	width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#invite textarea {
	height:180px;
}

#invite input:focus, textarea:focus {
    border:1px solid #97d6ea;
}

#invite submit {
	height: _the_image_height;
    width: _the_image_width;
    background:url('pildid/submit.jpg' );
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover {
	    opacity:.9;
}

.error {
    color: #FF0000;
}
#invite p1 {
    display:block;
    margin-top:20px;
	margin-bottom:20px;
    letter-spacing:1px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-style: bold;
	font-size: 30px;
}


#nurkkonteiner {
	visibility: hidden;
	font-size:16px;
    position:relative;
    width:480px;
    padding:1em 1.5em 5em;
    margin:2em 20em;
    color:#fff;
    background:#585858;
    overflow:hidden;
	min-height: 300px;
	box-shadow: 8px 8px 5px #888888;
	
}

#nurkkonteiner:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#585858; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
    /* Optional: shadow */
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 3px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 3px 3px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	
}
#toetus {
	position: absolute;
	bottom: 5px;
    right: 0;
	
}
#toetusMessage {
	position: absolute;
	bottom: 25px;
    right: 100px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	letter-spacing:1px;
}

#fb{
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	letter-spacing:1px;
	position:absolute;
	float:right;
	padding:1em 2em;
	top: 190px;
    right: 10px;
}

.fb-send, fb\:send {
  transform: scale(1.5);
}






