#lehed li {
	float: left;
}

#lehed {
	font-family: Arial;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

#lehed li a {
	display: block;
	padding: 10px 70px;
	text-decoration: none;
	color: #000000;
	background-color:#C0C0C0;
	border: 3px solid #111312;
}

#lehed li a:hover {
	color: #0652F8;
	background-color:#B0B0B0;
}